/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #fff;
  color: #333;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
  background: #fff;
  border-bottom: 1px solid #eee;
}

.navbar .logo {
  font-size: 20px;
  font-weight: bold;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

.navbar ul li a {
  text-decoration: none;
  color: #555;
  font-weight: 500;
  transition: 0.3s;
}

.navbar ul li a:hover {
  color: #007bff;
}

.navbar .username {
  background: #c5eaf6;
  color: #009dff;
  padding: 8px 18px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: bold;
}

/* Hero Section */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px;
}

.hero-text {
  max-width: 50%;
}

.hero-text h1 {
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 1.3;
}

.hero-text h1 span {
  color: #007bff;
}

.hero-text p {
  font-size: 16px;
  color: #666;
  margin-bottom: 30px;
  line-height: 1.6;
}

.hero-text .btn {
  display: inline-block;
  padding: 12px 24px;
  background: #007bff;
  color: #fff;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s ease;
}

.hero-text .btn:hover {
  background: #0056b3;
}

/* Hero Image */
.hero img {
 width: 400px;
}


/* Responsive */
@media (max-width: 900px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }
  .hero-text {
    max-width: 100%;
  }
  .hero img {
    margin-top: 30px;
    width: 70%;
  }
}
